<template>
    <c-person first-name="Don" last-name="Robins"></c-person>
    <c-person first-name="Chuck" last-name="Liddell"></c-person>
    <c-person first-name="Adam" last-name="Daw"></c-person>
</template>