<template>

    <lightning-card title="EventSimple" icon-name="standard:logging">
        <div class="slds-m-around_medium">
            <p class="slds-m-vertical_medium content">Page {page}</p>
            <c-paginator onprevious={handlePrevious} onnext={handleNext}></c-paginator>
        </div>
    </lightning-card>
    
</template>