<template>

    <lightning-card title="ApexWireMethodToProperty" icon-name="custom:custom63">

        <div class="slds-m-around_medium">
            <template if:true={contacts.data}>
                <template for:each={contacts.data} for:item="contact">
                    <p key={contact.Id}>{contact.Name}</p>
                </template>
            </template>
            <template if:true={contacts.error}>
                <div>ERROR</div>
            </template>
        </div>

    </lightning-card>
    
</template>