<template>
    <slot></slot>
    <lightning-card title="People">
        <ul class="slds-p-around_small">
            <template for:each={record} for:item="record">
                <li key={record.key}>{record.firstName} {record.lastName}</li>
            </template>
        </ul>
    </lightning-card>
    
</template>