<template>
    <lightning-card title="HelloConditionalRendering" icon-name="custom:custom14">
        <div class="slds-m-around_medium">
            <lightning-input type="checkbox" label="Show details" onchange={handleChange}></lightning-input>
            <div class="slds-m-vertocal_medium">
                <template if:true={areDetailsVisible}>
                    These are the details!
                </template>
                <template if:false={areDetailsVisible}>
                        Not showing details!
                </template>
            </div>
        </div>
    </lightning-card>
    
</template>