<template>
    <lightning-card title="RecordEditFormStaticContact" icon-name="standard:contact">

        <div class="slds-m-around_medium">
            <lightning-record-edit-form object-api-name={objectApiName} record-id={recordId}>
                <lightning-messages></lightning-messages>
                <lightning-input-field field-name={nameField}></lightning-input-field>
                <lightning-input-field field-name={titleField}></lightning-input-field>
                <lightning-input-field field-name={phoneField}></lightning-input-field>
                <lightning-input-field field-name={emailField}></lightning-input-field>
                <div class="slds-m-top_medium">
                    <lightning-button variant="brand" type="submit" name="save" label="Save"></lightning-button>
                </div>
            </lightning-record-edit-form>
        </div>

    </lightning-card>
</template>