<template>
    <lightning-card title="Event Bubbling" icon-name="standard:logging">

        <template if:true={contacts.data}>
            <lightning-layout class="slds-m-around_medium">
                <lightning-layout-item class="wide" oncontactselect={handleContactSelect}>
                    <template for:each={contacts.data} for:item="contact">
                        <c-contact-list-item-bubbling key={contact.Id} contact={contact} onselect={handleSelect}></c-contact-list-item-bubbling>
                        <p key={contact.Id}>{contact.Name}</p>
                    </template>
                </lightning-layout-item>
                <lightning-layout-item class="slds-m-left_medium">
                    <template if:true={selectedContact}>
                        <img src={selectedContact.Picture__c} alt="Profile photo">
                        <p>{selectedContact.Name}</p>
                        <p>{selectedContact.Title}</p>
                        <p><lightning-formatted-phone value={selectedContact.Phone}></lightning-formatted-phone></p>
                        <p><lightning-formatted-email value={selectedContact.Email}></lightning-formatted-email></p>
                    </template>
                </lightning-layout-item>
            </lightning-layout>
        </template>

        <template if:true={contacts.error}>
            <c-error-panel></c-error-panel>
        </template>

    </lightning-card>
</template>