<template>
    <lightning-card title="HelloBinding" icon-name="custom:custom14">

        <div class="slds-m-around_medium">
            <p>Hello, {greeting}!</p>
            <lightning-input label="Name" value={greeting} onchange={handleChange}></lightning-input>
        </div>

        <c-view-source source="lwc/HelloBinding" slot="footer">
            Change the value of a bound property when the value of an in...
        </c-view-source>

    </lightning-card>


</template>