<template>
    
    <lightning-card title="HelloExpression" icon-name="custom:custom14">
        <div class="slds-m-around_medium">
            <lightning-input name='firstName' label="First Name" onchange={handleChange}></lightning-input>
            <lightning-input name='lastName' label="Last Name" onchange={handleChange}></lightning-input>
            <p class="slds-m-top_medium">Uppercased Full Name: {uppercasedFullName}</p>
        </div>
    </lightning-card>

</template>